---
import Layout from "../Layouts/Layout.astro";
import SimulationCanvas from "../Components/SimulationCanvas.astro";
import Stats from "../Components/Stats.astro";
import Controls from "../Components/Controls.astro";
---

<Layout title="Sesgo del Superviviente">
	<div class="container">
		<SimulationCanvas />
		<Stats />
		<Controls />
	</div>
</Layout>

<style>
	.container {
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
	}
</style>
