---
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>

<style is:global>
    body {
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        overflow: hidden;
    }
</style>
